{% extends "base.html" %}

{% block title %}
Blog
{% endblock %}

{% block content %}
<ul class="blog-posts">
    {% for post in posts %}
    <li>
        <span>
            <i>
                <time datetime="{{ post.pubdate }}" pubdate="">
                    {{ post.pubdate }}
                </time>
            </i>
        </span>
        <a href="{{ url_for('view_post', year=post.pubdate.year, month=post.pubdate.month, day=post.pubdate.day,
            slug=post.slug) }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}