{% extends "theme/base.html" %}

{% block title %}Chaînes Youtube{% endblock %}

{% block content %}
<p>
    Une sélection de chaînes Youtube dumpées de mon agrégateur de flux. Généré automatiquement depuis <a href="static/files/youtube_channels.csv">youtube_channels.csv</a>
</p>
<table>
    <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for channel in "static/files/youtube_channels.csv"|read_csv %}
        <tr>
            <td><a href="{{ channel.url}}">{{ channel.title }}</a></td>
            <td>{{ channel.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfooter>
        <tr>
            <th>Titre</th>
            <th>Description</th>
        </tr>
    </tfooter>
</table>

{% endblock %}