{% extends "theme/base.html" %}

{% block title %}Software engineer based at Montpellier, France{% endblock %}

{% block content %}
<h2>Contact</h2>
<ul>
    <li><a href="mailto:jonathan.tremesaygues+job@slaanesh.org">E-Mail</a></li>
</ul>

<h2>Natural languages</h2>
<ul>
    <li>French, native speaker</li>
    <li>English, not perfect but not that bad</li>
</ul>

<h2>Skills</h2>

<h3>Programming languages</h3>
<ul>
    <li>Python - 2 &amp; 3</li>
    <li>Django</li>
    <li>C++ - 98 to 14</li>
    <li>Qt</li>
</ul>
<p>
    My main skiils are in these languages. Through my career, I have learn many
    technologies like PHP, 2010-jquery Javascript, some pieces of CSS,
    Objective-C, Java, Android or iOS. But my knownledge is now out of date.
</p>

<h3>OS</h3>
<ul>
    <li>Linux - Arch Linux / Debian / Centos / Ubuntu</li>
    <li>macOS</li>
</ul>
<p>
    I mainly use Linux for my personal computers and server. I have basic
    knowledge of OpenBSD. I can work on macOS. I don&rsquo;t want to work with
    Windows.
</p>

<h3>IDE</h3>
<ul>
    <li>VSCode</li>
    <li>QtCreator</li>
</ul>
<p>
    My first to go IDE is VSCode. I also use a lot nvim. I like QtCreator for
    working on C++/Qt projects.
</p>

<h3>Tools</h3>
<ul>
    <li>git</li>
    <li>svn</li>
    <li>shell</li>
</ul>
<p>Yup, I&rsquo;m a developper. I know the basic tools…</p>

<h3>Continous Integration</h3>
<ul>
    <li>Jenkins</li>
    <li>GitHub Actions</li>
</ul>
<p>
    I became the so called Jenkins guru because someone had to. I am currently
    working with GitHub Actions.
</p>

<h3>DevOps/SysAdmin</h3>
<ul>
    <li>Linux</li>
    <li>AWS</li>
    <li>Docker</li>
    <li>Terraform</li>
</ul>
<p>
    I administrate my own Linux servers (projects hosting, personal storage,
    backups, …). In my current job, I manage a AWS hosted cloud infrastructure
    running some Docker containers with Terraform for propulsing an IOT and
    data-analysis platform.
</p>

<h2>Education</h2>
<ul>
    <li>Computer Science Degree / University of Montpellier / 2011</li>
    <li>Science Bachelor / Saint-Joseph (La Réunion) / 2008</li>
</ul>

<h2>Professional experiences</h2>

<h3>Lead developper / Sereema
    / nov 2020 - present</h3>
<ul>
    <li>backend development - Python / Django / Postgres / Redis / other stuff
    </li>
    <li>devops - AWS / Docker / Terraform</li>
    <li>firmware development - Debian / C / kernel / embedded / IoT</li>
</ul>

<h3>kFPGA / 2019 - present (kind of)</h3>
<p>
    Personal project, I am developing an open-hardware FPGA architecture. Long
    story short, verilog, python, tcl, cocotb, synthesis, yosys, qflow,
    OpenROAD, Xilinx Vivado.
</p>

<h3>R&amp;D Software Engineer / Menta / may 2014 - dec 2018</h3>
<p>
    I worked at Menta as a software engineer in the R&amp;D Software team. I was
    in charge of the logic synthesis in the
    Origami Programmer software. I also worked closely with the Hardware team by
    providing then tools and support.
</p>
<ul>
    <li>development of Origami Programmer &amp; Designer (C++/Qt, Verific)</li>
    <li>
        development of a tool for automatizing the physical implementation of
        soft IP FPGA cores to multiples standard cells library (TSMC, Global
        Foundry, ST, ARM) based on a Synopsys flow (Design Compiler, ICC2,
        PrimeTime, StarRC, Mentor Graphics Calibre, …)
    </li>
    <li>development of a License Management System (Flexera FlexNet, python)</li>
    <li>Jenkins CI-guru, because someone has to do it :)</li>
</ul>

<h3>System Administrator /
    Menta / may 2014 - dec 2016</h3>
<ul>
    <li>
        administered workstations and servers (Centos 5 to 7, Suse Linux
        Enterprise)
    </li>
    <li>development of a backup solution</li>
    <li>installation of a HTC platform (HTCondor)</li>
</ul>

<h3>Mobile Application Developer / La Jungle Design / apr 2014 - may 2014</h3>
<p>Development of Android (java) and iOS applications (objective-c).</p>

<h3>Mobile Application &amp; Web Developer / Access Dev / aug 2011 - dec 2013</h3>
<ul>
    <li>development of a coloring application for iPad (iOS, objective-c)</li>
    <li>
        development of a RA-based mobile application for finding good deals
        (Android, java, iOS, objective-c)
    </li>
    <li>
        development of a therapeutic game in partnership with the LIRMM (C++,
        SDL, Visual Studio)
    </li>
    <li>
        prototyping a mobile version of the Ubi Soft game Just Dance (iPhone,
        Apple TV, objective-c)
    </li>
    <li>development of a puzzle game for iPad (C++, Cocos2D)</li>
    <li>development of a HTML5 arcade game (javascript, ImpactJS)</li>
    <li>development of an motion-based arcade game (Unity, C#c Kinect)</li>
    <li>some web sites (PHP, MySQL, HTML, CSS, javascript, jQuery)</li>
</ul>
{% endblock %}