{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SITE NAME{% if object %} | {{ object.title }}{% endif %}</title>
    <link rel="stylesheet" href="{% static 'pygments/monokai.css' %}">
</head>

<body>
    <header>
        {% include "blocks/header.html" %}
    </header>
    <hr>
    <main>
        {% block "content" %}{% endblock %}
    </main>
    <hr>
    <footer>
        {% include "blocks/footer.html" %}
    </footer>
</body>

</html>
