{% extends "base.html" %}

{% block content %}
<h1>Bienvenue sur mon site !</h1>
<h2>Pages</h2>
<ul>
    <li><a href="{{ SITE_URL }}/pages/cgi.html">Images générés par ordinateur</a></li>
    <li><a href="{{ SITE_URL }}/pages/raycaster.html">Un raycaster façon Wolfenstein3D en pur typescript</a></li>
    <li><a href="{{ SITE_URL }}/pages/cpu/">Processeurs</a> (TODO)</li>
    <li><a href="{{ SITE_URL }}/pages/tdlf/">Théories des langages</a> (TODO)</li>
</ul>

<h2>Projets</h2>
<p>Quelqu'uns de mes projets :</p>
<ul class="simple">
    <li>
        <p><a href="https://github.com/jtremesay/raytracer">Raytracer</a> : Itération suivante, un raytraceur en rust.</p>
    </li>
    <li>
        <p>
            <a href="https://mathsworld.jtremesay.org">Mathsworld</a> (<a href="https://github.com/jtremesay/mathsworld">sources</a>) :
            Le next level du projet précédent : un générateur de shader WebGL raytraçant une scène décrite en s-expression
        </p>
    </li>
    <li>
        <p><a href="https://github.com/jtremesay/kfpga">kFPGA</a> : une architecture FPGA opensource (openhardware?).</p>
    </li>
    <li>
        <p><a href="https://github.com/jtremesay/mpssim">MPS</a> : Un processor MIPS 8 bits.</p>
    </li>
</ul>

<h2>Articles</h2>
<p>
<ul>

    {% for post in posts %}
    <li>
        {{ post.date.strftime("%Y-%m-%d") }}
        <a href="{{ SITE_URL }}/{{ post.slug}}.html">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>
</p>
{% endblock %}