:root {
    --text-color: #fff;
    --link-color: #719af4;
    --background-color: #262626;
    --code-background-color: #000;
    --raised-background-color: #313131;
    --header-background-color: #3178c6;
}

html {
    color: var(--text-color);
    font-family: sans-serif;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    height: 100%;
}

header {
    height: 3rem;
    line-height: 1.4;
    background-color: var(--header-background-color);
    display: flex;
    justify-content: space-between;
}

header>.left {
    display: flex;
    flex-direction: row;
}

header>.right {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
}

header .title {
    width: 200px;
    margin-left: 1rem;
    padding-top: .4rem;
    font-size: 1.5rem;
    font-weight: 600;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav li {
    display: inline-block;
}

header nav a {
    display: block;
    padding: .95rem .5em .7em;
    color: var(--text-color);
    font-weight: 600;
}

header nav a:link {
    text-decoration: none;
}

main {
    flex-direction: row;
}

section {
    margin: auto;
    max-width: 1000px;
}

section h1 {
    font-size: 3.5rem;
    font-weight: 400;
}

article {
    background-color: var(--raised-background-color);
    margin: 0 auto 1rem;
    padding: 1rem 2rem;
    line-height: 1.6rem;
}

article .publication-date {
    text-align: right;
}

pre {
    margin: 2rem auto;
    padding: 1rem;
}

a {
    color: var(--link-color);
}

a:hover {
    opacity: 0.8;
}

footer {
    background-color: var(--header-background-color);
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
    font-size: 1.4rem;
}