{% extends "theme/base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
<ul class="blog-posts">
    {% for post in posts %}
    <li>
        <span>
            <i>
                <time datetime="{{ post.pubdate }}" pubdate="">
                    {{ post.pubdate }}
                </time>
            </i>
        </span>
        <a href="/blog/{{ post.pubdate.year }}/{{ post.pubdate.month }}/{{ post.pubdate.day }}/{{ post.slug }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}