{% extends "base.html" %}

{% block title %}
Blog
{% endblock %}

{% block content %}
<ul class="blog-posts">
    {% for entry in entries %}
    <li>
        <span>
            <i>
                <time datetime="{{ entry.year }}-{{ entry.month }}-{{ entry.day }}" pubdate="">
                    {{ entry.year }}-{{ entry.month }}-{{ entry.day }}
                </time>
            </i>
        </span>
        <a href="{{ entry.url }}">{{ entry.slug }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}