{% extends "base.html" %}

{% block title %}
Welcome on my website!
{% endblock %}

{% block content %}
<p>
    I am Jonathan Tremesaygues, a thirty-something ramdom guy writing code for a living. I live in Montpellier (France)
    and do stuff like cooking, reading, playing table top games, riding a bike in the country side or climbing.
</p>
<p>
    I am a Libre and open-source enthusiast since my ~15. Thank to jujun&lt;, I&apos;ve discovered Linux and Python in
    high
    school. Since, I mostly use opensource OS softwares whenever I can. My main computer run Arch Linux, this server
    is powered by <del>OpenBSD &lt;&percnt;</del> Ubuntu and my FairPhone use LineageOS without the Google&apos;s
    craps.
</p>
<p>
    Since my reading of The Circle by D. Eggers, I have deleted most of my GAFAM accounts. This book is terrifying! I
    think that everybody should read it. There are always these 2 GMail addresses, &apos;cause it&apos;s hard to update
    everywhere… But maybe one day!
</p>


<h2>Contact</h2>
<p>
    You can send me a <a href="mailto:jonathan.tremesaygues+contact@slaanesh.org">mail</a> at the following. I read
    all my mails that does not arrive in the spam folder, but I answer according to my motivation…
</p>
{% endblock %}